@charset 'UTF-8';

/* Footer */
footer {
	background-color: $tiffanny;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 16px 0;
	.heart {
		fill: $pink;
		width: 25px;
		vertical-align: bottom;
	}
	p {
		margin: 0;
	}
	a {
		text-decoration: underline;
		transition: .3s ease-in-out;
		&:hover {
			color: $pink;
		}
	}
}