@charset 'UTF-8';

/* Guestbook */
#messages {
	/*column-count: 3;
	column-gap: $gutter*2;
	column-width: 33.3%;*/
	width: 100%;
	text-align: left;
	margin: $gutter*2 0;
	@extend .clear;
	&:before {
		content: '1 .column.size-1of1';
	}
	&.no-messages {
		/*column-count: 1;*/
		text-align: center;
	}
	.column {
		float: left;
		.message {
			&:nth-child(odd) {
				background-color: $pink;
			}
			&:nth-child(even) {
				background-color: $tiffanny;
			}
		}
	}
	.size-1of1 {
		width: 100%;
	}
	.size-1of3 {
		width: 33.333%;
	}
	.message {
		text-align: justify;
		margin: 0 10px 20px;
		border-radius: $border-radius;
		color: #fff;
		padding: $gutter*2;
		margin-bottom: $gutter*2;
		.message-wrap {
			border: 2px solid #fff;
			padding: $gutter / 2;
			p:last-child {
				margin-bottom: 0;
			}
		}
		span {
			text-align: right;
			display: block;
			font-size: 75%;
		}
	}
}

#guestbook_form {
	width: 100%;
	margin-top: $gutter*2;
	.response {
		margin-bottom: $gutter;
		span {
			display: block;
			font-size: 80%;
		}
	}
	.btn {
		display: block;
		margin: 0 auto;
	}
}

#load-more {
	display: block;
	margin: 0 auto;
}