@charset 'UTF-8';

/* Header */

header {
	position: fixed;
	z-index: 10;
	background-color: rgba($pink,0);
	width: 100%;

	transition: .5s ease-in-out;
	&.pinned {
		background-color: rgba($pink,0.8);
	}
}

.menu {
	li {
		display: inline-block;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		margin: 5px;
		a {
			display: block;
			padding: $gutter/2 $gutter;

			transition: all .3s ease;
			&.active {
				background-color: red;
			}
		}
	}
}
