@charset 'UTF-8';

/* History */
#history {
	.wedding {
		margin-bottom: $gutter;
		.photo {
			width: 220px;
			height: 220px;
			border-radius: 50%;

			&.raquel {
				float: right;
				background-color: $pink;
				background-image: url(../img/kel.jpg);
				background-repeat: no-repeat;
				background-size: 100%;
				background-size: cover;
				background-position: center center;
			}
			&.bruno {
				background-color: $tiffanny;
				background-image: url(../img/bruno.jpg);
				background-repeat: no-repeat;
				background-size: 100%;
				background-size: cover;
				background-position: center center;
			}
		}
	}
	.and {
		text-align: center;
		font-size: 140px;
		font-weight: bold;
	}
	.raquel-text,
	.bruno-text {
		margin-bottom: $gutter*2;
		p {
			font-weight: bold;
			font-size: 32px;
			margin-bottom: $gutter*2;
		}
		h2 {
			position: relative;
			font-size: 50px;
			&:before {
				content: "";
				width: 100%;
				height: 2px;
				background-color: $text;
				position: absolute;
				top: -10px;
				left: 0;
			}
		}
	}
	.raquel-text {
		margin-right: -$gutter*2;
		h2 {
			color: $pink;
		}
	}
	.bruno-text {
		margin-left: -$gutter*2;
		h2 {
			color: $tiffanny;
		}
	}
}