@charset 'UTF-8';

/* Info */
#info {
	h4 {
		font-size: 1.8em;
	}
	.info-wrap {
		background-color: $pink;
		padding: $gutter;
		color: #fff;
		border-radius: $border-radius;
		.qr {
			display: none;
			text-align: center;
			background-color: $tiffanny;
			padding: 5px;
			border-radius: $border-radius;
			.caption {
				padding: 5px;
				font-size: 75%;
			}
		}
		a {
			    display: inline-block;
		}
	}
	#mapa {
		background-color: $tiffanny;
		min-height: 300px;
		border-radius: $border-radius;
	}
}