/* Intro Section */
#intro {
	@extend .container-fluid;
	.cover {
		position: relative;
		height: 70vh;
		background-image: url(../img/bg/cover.jpg);
		background-size: 100%;
		background-size: cover;
		background-position: 50% 100%;
		background-attachment: fixed;

		transition: .05s ease-in-out;
		&:before {
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			background-color: rgba($tiffanny,0.7);
		}
	}
	.caption {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%,-50%);
		color: #fff;
		backface-visibility: hidden;
		perspective: 1000px;
		h1 {
			font-size: 5.2em;
			display: inline-block;
		}
		.heart {
			width: 90px;
			margin: 0 $gutter * 1.5;
			display: inline-block;
			fill: $pink;
			animation: pulse 5s ease-in-out infinite;
		}
	}
	.countdown {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		.countdown-text {
			background-color: $pink;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			padding: $gutter/2 $gutter;
			margin-left: $gutter;			
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}
	}
	h3 {
		margin-bottom: $gutter;
	}
}