@charset 'UTF-8';

/* Photos */
#photos {
	.gallery {
		//padding: $gutter;
		//background-color: $tiffanny;
		/*column-count: 10;
		column-gap: $gutter;*/
		width: 100%;
		.image {
			display: block;
			width: 67px;
			margin: 0.5%;
		}
	}
}