@charset 'UTF-8';

/* RSVP */
#rsvp {
	.assessoria {
		padding: $gutter;
		background-color: $pink;
		color: #fff;
		border-radius: $border-radius;	
		p {
			margin: 0;
		}
		.horario {
			position: relative;
			&:before {
				content: "{";
				font-weight: bold;
				position: absolute;
				top: -20px;
				left: -25px;
				font-size: 48px;
			}
		}
	}
	.rsvp {
		padding: $gutter;
		background-color: $tiffanny;
		color: #fff;
		border-radius: $border-radius;
	}
	#form_rsvp {
		margin-top: $gutter *2;
		label {
			display: inline-block;
			margin-right: $gutter/2;
		}
		input {
			display: inline-block;
			background-color: $bg;
			border-bottom: 2px solid rgba($pink,0.2);
			margin-right: $gutter;
			&:active,
			&:focus {
				border-bottom: 2px solid $pink;
			}
			&.name {
				max-width: 200px;
			}
			&.child {
				width: 20px;
			}
			&.age {
				width: 30px;
			}
		}
		.form-group {
			margin-bottom: $gutter;
			&:first-child {
				.name,
				label:nth-child(3) {
					margin-left: -3px;
				}
				.child {
					margin-left: -3px;
				}
			}
		}
		.remove {
			background-color: #FD0B48;
		}
		.add {
			text-align: center;
		}
		.response {
			margin-top: $gutter*2;
			text-align: center;
			span {
				display: block;
				font-size: 80%;
			}
		}
		.confirmation {
			margin-top: $gutter*2;
			text-align: center;
			.btn {
				margin: 0 $gutter;
			}
			.yes {
				background-color: darken($tiffanny,15%);
			}
			.maybe {
				background-color: darken($pink,15%);
			}
			.no {
				background-color: #FD0B48;
			}
		}
	}
}