@charset 'UTF-8';

/* Master Title */
.title {
	color: #fff;
	&:before {
		content: "";
		height: 50px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: $tiffanny;
		background-image: url(../img/bg/title_pattern.png);
		z-index: -1;
	}
	h2 {
		background-color: $pink;
		padding: 10px 25px;
		    font-size: 1.8em;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		small {
			font-size: 50%;
		}
	}
	.line {
		height: 2px;
		background-color: $pink;
		width: 100%;
	}
}