@charset 'UTF-8';

* {
	box-sizing: border-box;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: $josefin;
	color: $text;
	background-color: $bg;
	font-size: 18px;
}

body,html{
	min-height: 100vh;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
textarea,
button {
	&:focus {
		outline: 0;
	}
}
