@charset 'UTF-8';

/* Helpers */
%clear {
  content: ' ';
  display: table;
}

.clear {
  *zoom: 1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear: both;
  }
}


.text-right {
	text-align: right;
}

.text-center {
  text-align: center;
}

::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}


/* Animations */
@keyframes pulse {
  0%  {  transform: scale3d(1,1,1); }
  14% { transform: scale3d(1.1,1.1,1.1); }
  28% { transform: scale3d(1,1,1); }
  42% { transform: scale3d(1.1,1.1,1.1); }
  70% { transform: scale3d(1,1,1); }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
