@charset 'UTF-8';
//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/



//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'core/_vars.scss';
@import 'core/_grid.scss';
@import 'core/_default.scss';
@import 'core/_layout.scss';
@import 'core/_normalize.scss';
@import 'core/_helpers.scss';

//----------------------------------*\
// PARTIALS
//----------------------------------*/

// Sections
@import 'partials/_menu.scss';
@import 'partials/_footer.scss';


//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import 'modules/_buttons.scss';
@import 'modules/_inputs.scss';
@import 'modules/_typography.scss';

// Enhancement modules
@import 'modules/_breakpoints.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/_external.scss';
