@charset 'UTF-8';
//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/



//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'core/_vars.scss';
@import 'core/_grid.scss';
@import 'core/_default.scss';
@import 'core/_layout.scss';
@import 'core/_normalize.scss';
@import 'core/_helpers.scss';

//----------------------------------*\
// PARTIALS
//----------------------------------*/

// Sections
@import 'partials/_header.scss';
@import 'partials/_footer.scss';
@import 'partials/_intro.scss';
@import 'partials/_history.scss';
@import 'partials/_info.scss';
@import 'partials/_rsvp.scss';
@import 'partials/_photos.scss';
@import 'partials/_gifts.scss';
@import 'partials/_guestbook.scss';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import 'modules/_buttons.scss';
@import 'modules/_inputs.scss';
@import 'modules/_master_title.scss';
@import 'modules/_typography.scss';

// Enhancement modules
@import 'core/_breakpoints.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/_external.scss';
